@tailwind base;
@tailwind components;
@tailwind utilities;

.mainHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-image: url('../public/backgrounds/headback.jpg');
  height: auto;
  color: aliceblue;
}
.body{
  width: 100%;
}
.ProductsContainer .CategoriesMenu {
  display: none;
}

.ProductsContainer:hover .CategoriesMenu {
  display: block;
}